table {
    font-size: 20px;
    width: 70%;
}

td, th {
    border: solid 1px;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgb(235, 247, 247);
}

tfoot {
    font-weight: bold;
}