table {
    font-size: 20px;
    width: 70%;
    background-color: rgba(248, 211, 217, 0.842);
}

td, th {
    border: solid 1px;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgba(235, 247, 247, 0.89);
}

tfoot {
    font-weight: bold;
}

/* .right {
    text-align: right;
} */